<!-- <?xml version="1.0"?>
<launch>
  <arg name="standalone"                default="true" />
  <arg name="time_step"                 default="0.01"/> 
  <arg name="num_spinners"              default="1" />
  <arg name="ft_name"              default="ft_right" />
  <arg name="ft_port"              default="/dev/right_force_sensor" />
  <arg name="two_sensors" default="true"/>


   <group unless="$(arg two_sensors)">
     <node name="rokubimini" pkg="bota_device_driver" type="bota_device_driver_node"  output="screen" required="true">
      <param name="standalone"                                type="bool"     value="$(arg standalone)"/>
      <param name="num_spinners"                              type="int"      value="$(arg num_spinners)"/>
      <param name="time_step"                                 type="double"   value="$(arg time_step)"/>

      <param name="$(arg ft_name)/setup/name"                        type="string"   value="$(arg ft_name)"/>
      <param name="$(arg ft_name)/setup/product_code"                        type="int"   value="1"/>
      <rosparam ns="$(arg ft_name)" command="load" file="$(find bota_device_driver)/config/rokubimini_sensor.yaml" />
      <param name="$(arg ft_name)/setup/port"                        type="string"   value="$(arg ft_port)"/>
      <param name="$(arg ft_name)/setup/baud_rate"                        type="int"   value="460800"/>
    </node>
  </group>

   <group if="$(arg two_sensors)">
     <node name="rokubimini" pkg="bota_device_driver" type="bota_device_driver_node"  output="screen" required="true">
      <param name="standalone"                                type="bool"     value="$(arg standalone)"/>
      <param name="num_spinners"                              type="int"      value="$(arg num_spinners)"/>
      <param name="time_step"                                 type="double"   value="$(arg time_step)"/>

      <param name="ft_right/setup/name"                        type="string"   value="ft_right"/>
      <param name="ft_right/setup/product_code"                        type="int"   value="1"/>
      <rosparam ns="ft_right" command="load" file="$(find bota_device_driver)/config/rokubimini_sensor.yaml" />
      <param name="ft_right/setup/port"                        type="string"   value="/dev/right_force_sensor"/>
      <param name="ft_right/setup/baud_rate"                        type="int"   value="460800"/>

      <param name="ft_left/setup/name"                        type="string"   value="ft_left"/>
      <param name="ft_left/setup/product_code"                        type="int"   value="1"/>
      <rosparam ns="ft_left" command="load" file="$(find bota_device_driver)/config/rokubimini_sensor.yaml" />
      <param name="ft_left/setup/port"                        type="string"   value="/dev/left_force_sensor"/>
      <param name="ft_left/setup/baud_rate"                        type="int"   value="460800"/>
    </node>
  </group>
    


</launch> -->
<?xml version="1.0"?>
<launch>
  <arg name="ft_name"              default="ft_right" />
  <arg name="ft_port"              default="/dev/right_force_sensor" />
  <arg name="two_sensors" default="true"/>

  <arg name="standalone"                default="true" />
  <arg name="time_step"                 default="0.01"/> 
  <arg name="num_spinners"              default="1" />
  <arg name="launch_prefix"             default="nice -n -10" />
  <arg name="launch_prefix_gdb"         default="gdb -ex run --args" />
  <arg name="sensor_config_name"        default="" />  
  <arg name="ros_publishers_file"       default="$(find rokubimini_cosmo)/config/publishers.yaml"/>    

  <rosparam command="load" ns="rokubimini" file="$(arg ros_publishers_file)"/>

  <group unless="$(arg two_sensors)">
    <node name="rokubimini" pkg="rokubimini_cosmo" type="rokubimini_cosmo_node"  output="screen" launch-prefix="$(arg launch_prefix)" ns="$(arg ft_name)" >
      <param name="standalone"                                type="bool"     value="$(arg standalone)"/>
      <param name="num_spinners"                              type="int"      value="$(arg num_spinners)"/>
      <param name="time_step"                                 type="double"   value="$(arg time_step)"/>
      <param name="rokubimini_setup_file"                     type="string"   value="$(find rokubimini_cosmo)/config/setup_$(arg id).yaml"/>
      <param name="sensor_config_name"                        type="string"   value="$(arg sensor_config_name)"/>
    </node>
  </group>
</launch>
