<?xml version="1.0"?>
<launch>
  <arg name="ft_name"              default="right" />
  <arg name="ft_name2"              default="left" />
  <arg name="two_sensors"          default="true"/>
  <arg name="ft_port"              default="/dev/$(arg ft_name)_force_sensor" />
  <arg name="ft_port2"              default="/dev/$(arg ft_name2)_force_sensor" />

  <group unless="$(arg two_sensors)">

  <node name="bus_$(arg ft_name)" pkg="rokubimini_serial" type="rokubimini_serial_bus_manager_node"  output="screen" required="true">
    <param name="num_spinners"                              type="int"      value="1"/>
    <param name="port"  type="string"   value="$(arg ft_port)"/>
    <param name="rokubiminis/ft_$(arg ft_name)/name" type="string" value="ft_$(arg ft_name)"/>
    <param name="rokubiminis/ft_$(arg ft_name)/product_name" type="string" value="BFT-SEN-11-02-0"/>
    <rosparam ns="rokubiminis/ft_$(arg ft_name)" command="load" file="$(find foot_platform_ros)/config/rokubimini_sensor.yaml" />
    <remap from="/bus_$(arg ft_name)/ft_$(arg ft_name)/ft_sensor_readings/wrench/" to="/rokubimini/ft_$(arg ft_name)/ft_sensor_readings/wrench/"/>
  </node>

  </group>

  <group if="$(arg two_sensors)">
     <node name="bus_$(arg ft_name)" pkg="rokubimini_serial" type="rokubimini_serial_bus_manager_node"  output="screen" required="true">
        <param name="num_spinners"                              type="int"      value="1"/>
        <param name="port"  type="string"   value="$(arg ft_port)"/>
        <param name="rokubiminis/ft_$(arg ft_name)/name" type="string" value="ft_$(arg ft_name)"/>
        <param name="rokubiminis/ft_$(arg ft_name)/product_name" type="string" value="BFT-SEN-11-02-0"/>
        <rosparam ns="rokubiminis/ft_$(arg ft_name)" command="load" file="$(find foot_platform_ros)/config/rokubimini_sensor.yaml" />
        <remap from="/bus_$(arg ft_name)/ft_$(arg ft_name)/ft_sensor_readings/wrench/" to="/rokubimini/ft_$(arg ft_name)/ft_sensor_readings/wrench/"/>
     </node>
     <node name="bus_$(arg ft_name2)" pkg="rokubimini_serial" type="rokubimini_serial_bus_manager_node"  output="screen" required="true">
      <param name="num_spinners"                              type="int"      value="1"/>
      <param name="port"  type="string"   value="$(arg ft_port2)"/>
      <param name="rokubiminis/ft_$(arg ft_name2)/name" type="string" value="ft_$(arg ft_name2)"/>
      <param name="rokubiminis/ft_$(arg ft_name2)/product_name" type="string" value="BFT-SEN-11-02-0"/>
      <rosparam ns="rokubiminis/ft_$(arg ft_name2)" command="load" file="$(find foot_platform_ros)/config/rokubimini_sensor.yaml" />
      <remap from="/bus_$(arg ft_name2)/ft_$(arg ft_name2)/ft_sensor_readings/wrench/" to="/rokubimini/ft_$(arg ft_name2)/ft_sensor_readings/wrench/"/>
    </node>
  </group>
</launch>
