<?xml version="1.0"?>
<launch>
	<rosparam command="load" ns="right/v_wall" file="$(find foot_platform_ros)/config/right_pid_virtual_wall.yaml"/>
    <rosparam command="load" ns="right" file="$(find foot_platform_ros)/config/right_pid_pos.yaml"/>
    <rosparam command="load" ns="right" file="$(find foot_platform_ros)/config/right_pid_speed.yaml"/>
    <rosparam command="load" ns="right" file="$(find foot_platform_ros)/config/right_pid_forceSensor.yaml"/>
    <rosparam command="load" ns="right" file="$(find foot_platform_ros)/config/right_compensation.yaml"/>
    <rosparam command="load" ns="right" file="$(find foot_platform_ros)/config/right_rcm_ctrl.yaml"/>
</launch>

